<!DOCTYPE html>
<html>
<head>
<title>UVT</title>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<link href="{{ asset( 'bundles/app/css/bootstrap.css' ) }}" rel='stylesheet' type='text/css' />
<link href="{{ asset( 'bundles/app/css/style.css')}}" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>  
<script src="{{ asset( 'bundles/app/js/jquery.min.js')}}"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{{ asset( 'bundles/app/js/move-top.js')}}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{{ asset( 'bundles/app/js/jquery.mousewheel.js')}}"></script>
<script type="text/javascript" src="{{ asset( 'bundles/app/js/jquery.contentcarousel.js')}}"></script>
<script type="text/javascript" src="{{ asset( 'bundles/app/js/easing.js')}}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	.logo a{color:#000;font-size:35px;text-decoration:none;font-family:Pristina;font-weight:900;}
	a.btn-home{padding:15px;background:#000;text-decoration:none;color:#fff;}
	a.btn-home:hover{background:#1dcd00;color:#000}
</style>
</head>
<body>
	<div class="banner" id="home">
		<div class="container">
			<div class="header">
				<div class="menu">
                                     <a class="toggleMenu" href="#"><img src="{{ asset( 'bundles/app/images/menu-icon.png')}}" alt="" /> </a>
					<ul class="nav" id="nav">
					<li class="active"><a href="#" class="active">Accueil</a></li>
					<li><a href="#">Présentation</a></li>
					<li><a href="#">Recrutement</a></li>
					<li><a href="#">Contact</a></li>
					</ul>
                                  <!----start-top-nav-script---->
		                      <script type="text/javascript" src="{{ asset( 'bundles/app/js/responsive-nav.js')}}"></script>
					<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
		<!----//End-top-nav-script---->
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--/start-text-slider-->
		<div  class="testimonials" id="testimonials">
			 <div class="wmuSlider example1">
		 	<div class="container-flueid">
			   <article style="position: absolute; width:64%; opacity: 0;"> 
					<div class=" cont span_2_of_3 client-main">
						<div class="logo">
							<a href="#"><i class="fa fa-bank"></i> Espace Administration</a>
						</div>
							<div class="slide-text">
							<br/>
							<br/>
								<a href="{{path('home_admin')}}" class="btn-home" >Se connecter</a>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				</article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class=" cont span_2_of_3  client-main">
				   		<div class="logo">
							<a href="#"><i class="fa fa-briefcase"></i> Espace Enseignant</a>
						</div>
							<div class="slide-text">
							<br/>
							<br/>
								<a href="{{path('home_enseignant')}}" class="btn-home" >Se connecter</a>
								<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class="cont span_2_of_3  client-main">
				   		<div class="logo">
							<a href="#"><i class="fa fa-graduation-cap"></i> Espace Administration</a>
						</div>
							<div class="slide-text">
							<br/>
							<br/>
								<a href="{{path('home_etudiant')}}" class="btn-home" >Se connecter</a>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
		 
                  <script src="{{ asset( 'bundles/app/js/jquery.wmuSlider.js')}}"></script> 
					<script>
       				     $('.example1').wmuSlider();         
   					</script> 	           	      
	         </div>
	     </div>
	 </div>
	 <!--//text-slider-->
		</div>
	</div>
                                        <div>
                                            {% block body %}
                                            {% endblock body %}
                                        </div>
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-6 footer-left">
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="twit"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-6 footer-right">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
				};
				*/
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>